<!DOCTYPE html>
    <head>
        <title> Foods </title>
    </head>

    <body>
        <h1> Foods </h1>
        <p> This text should be bluea
            <ul>
        
                <% @foods.each do |food| %>
                    
                        <li><%= link_to food.name, food, class: "btn btn-inverse" %> Calories: <%= food.calories %></li>
                    
                <% end %>
            </ul>

            Total Calories: <%= calorieSum(@foods) %></p>

            <%= link_to "New Food", new_food_path %>
        
    </body>
</html>